1 VERSIONINFO
FILEVERSION 1, 3, 0, 0
PRODUCTVERSION 1, 3, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904b0"
BEGIN
VALUE "CompanyName", "wyDay, LLC"
VALUE "FileDescription", "cspnonce_module for Apache"
VALUE "FileVersion", "1.3"
VALUE "InternalName", "mod_cspnonce.so"
VALUE "LegalCopyright", "Copyright 2005-2020 wyDay, LLC"
VALUE "OriginalFilename", "mod_cspnonce.so"
VALUE "ProductName", "Apache HTTP Server"
VALUE "ProductVersion", "1.3"
END
END
END
